.user-newbie {
  color: #999999 !important;
}
.user-amateur {
  color: #00a900 !important;
}
.user-expert {
  color: #44b0ff !important;
}
.user-candidatemaster {
  color: #9933ee !important;
  font-weight: bold;
}
.user-master {
  color: #ffb100 !important;
  font-weight: bold;
}
.user-grandmaster {
  color: #ff0000 !important;
  font-weight: bold;
}
