.user-unrated {
  color: #222222 !important;
}
.user-newbie {
  color: #999999 !important;
}
.user-amateur {
  color: #00a900 !important;
}
.user-expert {
  color: #66ccff !important;
}
.user-candidatemaster {
  color: #9933ee !important;
  font-weight: bold;
}
.user-master {
  color: #ffb100 !important;
  font-weight: bold;
}
.user-grandmaster {
  color: #ff0000 !important;
  font-weight: bold;
}
.user-admin {
  color: #1f1e33 !important;
  font-weight: bold;
}
